DATABASE_URL="mongodb+srv://muruganandhamm7639_db_user:86XceeWROeJcujA7@cluster0.unzu83f.mongodb.net/?appName=Cluster0"
JWT_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiQXJ1biIsImlhdCI6MTc4MDk5NjE1OCwiZXhwIjoxNzgwOTk5NzU4fQ._FBzvyffKj-x4p6HezCRl--KD0mZsHGgWccAYe30Rtc"
PORT=3001
VITE_API_URL=https://code-hunt-qwqf.onrender.com