# Database
DATABASE_URL=mongodb+srv://username:password@cluster.mongodb.net/code-hunt?retryWrites=true&w=majority

# Server
PORT=3001

# JWT
JWT_SECRET=your-secret-key-here

# Node Environment
NODE_ENV=development
